{% load static %}
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <link rel="stylesheet" type="text/css" 
    href="{% static 'blog/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" 
    href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}">

    {% if title %}
        <title>Cmax</title>
    {% else %}
        <title>Cmax</title>
    {% endif %}
</head>
<body >
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark  fixed-top py-3"
      style="background-color:#563d7c;font-weight:900;">
        <div class="container">
          <a class="navbar-brand mr-4" href="#">ConviMax</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
               <a class="nav-item nav-link" href="#">About</a>  
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
    {% if user.is_authenticated %}
    <a class="nav-item nav-link" href="#">{{ user.profile.first_name }}
      {{ user.profile.last_name }}</a>
      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
<main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="margin-bottom:100p;">
          <!-- jumbotron -->
          <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel" style="color:#6b4c9a">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'blog/carousel_img/bk.jpeg' %}" height="400px;" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="bg-white p-5">
                      <i class="fa fa-book"></i>
                      Buy Chargers, Laptops, mobiles from your neighbours in Smondo</h5>
                
                  </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/carousel_img/bk1.jpeg' %}" height="400px;" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="bg-white p-5">
                      <i class="fa fa-sticky-note"></i> <i class="fa fa-question"></i>
                      One place for all your selling and buying.</h5>
                  </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'blog/carousel_img/bk3.jpeg' %}" height="400px;" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="bg-white p-5">
                      <b class="fa fa-code"></b> 
                      You cant just buy but even rent per month, per week, per day or just per hour!!</h5>
                  </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <!-- jumboron end -->
          <!-- main -->
          <div class="row"> 
            <div class="col-md-9">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              
              {% block content %}
              {% endblock %}
            </div>
        
        <!-- main end -->
        <!-- sidebar  -->
        <div class="col-md-3" >

          <div class="content-section " 
          style="background-color:#533b78">

            <h3 class="text-white"><b>ConviMax<b></h3>

            <div >
              <b class="text-white">{{"Maximum Convinience"|upper}}</b><hr>

              
              <ul class="list-group ">
                <li class="list-group-item side_bar_l"  >
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='Bike' %}">
                   <i class="fa fa-list"></i>  {{"Bike"|upper}}
                  </a>
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='Bike' %}">
                    <i class="fa fa-plus-circle"></i>  {{"Add Bike"|upper}}
                  </a>
                </li>
                <li class="list-group-item side_bar_l"  >
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='Scooty' %}">
                   <i class="fa fa-list"></i>  {{"Scooty"|upper}}
                  </a>
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='Scooty' %}">
                    <i class="fa fa-plus-circle"></i>  {{"Add Scooty"|upper}}
                  </a>
                </li>
                <li class="list-group-item side_bar_l" >
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-list' model='Mobile' %}">
                   <i class="fa fa-list"></i>  {{"Mobile"|upper}}
                  </a>
                  <a class=" nav-link  side_bar_l_c" href="{% url 'subcat-create' model='Mobile' %}">
                    <i class="fa fa-plus-circle"></i>  {{"Add Mobile"|upper}}
                  </a>
                </li>
                <li class="list-group-item side_bar_l">
                  <a class=" nav-link side_bar_l_c" href="#">
                    <i class="fa fa-info-circle"></i> {{"About us"|upper}}
                  </a>
                </li>
                <li class="list-group-item side_bar_l">
                  <a class=" nav-link side_bar_l_c" href="{% url 'profile' %}">
                     <i class="fa fa-user-circle"></i> {{"Profile"|upper}}
                  </a>
                </li>
                <li class="list-group-item side_bar_l">
                  {% if user.is_authenticated %}
                  <a class=" nav-link side_bar_l_c" href="{% url 'logout' %}">
                     <i class="fa fa-sign-out"></i> {{"logout"|upper}}
                  </a>
                  {% else %}
                  <a class=" nav-link side_bar_l side_bar_l_c" href="{% url 'login' %}">
                     <i class="fa fa-sign-out"></i> {{"login"|upper}}
                  </a>
                  {% endif %}

                </li>
              </ul>
              </div>
          </div>
        </div>  
        <!-- sidebar end -->
        </div>
          </div>
          
      </div>
    </main>

    <footer class="footer">
        <div >
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled ">
                        <li class="">
                          <a href="#"><i ></i>Home</a>
                        </li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5 address">
                    <h5>Our Address</h5>
                    <address>
                  121, Clear Water Bay Road<br>
                  Clear Water Bay, Kowloon<br>
                  HONG KONG<br>
                  <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                  <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                  <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">convimax@gmail.com</a>
               </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 ConviMax</p>
                </div>
           </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
// If absolute URL from the remote server is provided, configure the CORS
// header on that server.
var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';

// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

// Asynchronous download of PDF
var loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
  console.log('PDF loaded');
  
  // Fetch the first page
  var pageNumber = 1;
  pdf.getPage(pageNumber).then(function(page) {
    console.log('Page loaded');
    
    var scale = 1.5;
    var viewport = page.getViewport({scale: scale});

    // Prepare canvas using PDF page dimensions
    var canvas = document.getElementById('the-canvas');
    var context = canvas.getContext('2d');
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);
    renderTask.promise.then(function () {
      console.log('Page rendered');
    });
  });
}, function (reason) {
  // PDF loading error
  console.error(reason);
});
</script>
</html>


<!--         <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->