{% extends "blog/base.html" %}
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
{% block content %}
  <article class="  content-section">
    <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">{{ object.author }}</a> -->
        <small class="text-muted">{{ object.date_objected|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <!-- update and delete -->
            {% if class_name  == "Bike" %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subcat-update' pk=object.id model='Bike' %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'subcat-delete' pk=object.id model='Bike' %}">Delete</a>
            {% elif class_name  == "Scooty" %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subcat-update' pk=object.id model='Scooty' %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'subcat-delete' pk=object.id model='Scooty' %}">Delete</a>            
            {% elif class_name  == "Mobile" %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'subcat-update' pk=object.id model='Mobile' %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'subcat-delete' pk=object.id model='Mobile' %}">Delete</a>            
            {% endif %}
          </div>
        {% endif %}
      </div>
      
      <div class="row ">
        <div class="col-md-8  content-section" style="margin-bottom:100p;">
            <!-- jumbotron -->
            <img class="d-block w-100" src="{{ object.img1.url }}" height="350px;" alt="First slide">
            <br>
            <!-- details unique -->
            <h4>Details</h4>
            <div style="font-size: 12px;">
                {% if class_name  == "Bike" %}
                    {% include "blog/bike_list2.html" %}
                {% elif class_name  == "Scooty" %}
                    {% include "blog/scooty_list2.html" %}
                {% elif class_name  == "Mobile" %}
                    {% include "blog/mobile_list2.html" %}
                {% endif %}
            </div>

            <h4>Description</h4>
            <p>{{object.desc}}</p>
            <!-- bike details end -->
        </div>
          <!-- right of photo -->
            <div class="col-md-4 content-section " style="margin-bottom:100p;">
                <h1><b>Rs {{object.sell_price}}/-</b></h1>
                <h3>{{post.title}}</h3>
        
                <br>
                <!-- cost  -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Rent Per</th>
                        <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Month</td>
                        <td>Rs {{object.rent_month}}/-</td>
                        </tr>
                        <tr>
                        <td>Week</td>
                        <td>Rs {{object.rent_week}}/-</td>
                        </tr>
                        <tr>
                        <td>Day</td>
                        <td>Rs {{object.rent_day}}/-</td>
                        </tr>
                        <tr>
                        <td>Hour</td>
                        <td>Rs {{object.rent_hour}}/-</td>
                        </tr>
                    </tbody>
                </table>
                <!-- cost end -->
                <!-- contact details  -->
                <h4>Contact Details</h4>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                        <td>Phone no</td>
                        <td>{{object.author.profile.phone_number}}</td>
                        </tr>
                        <tr>
                        <td>Address</td>
                        <td>
                            {{ object.author.profile.society }},{{ object.author.profile.bldg }}, {{ object.author.profile.floor }}0{{ object.author.profile.flat_no }}
                        </td>
                        </tr>
                        <tr>
                        <td>Email</td>
                        <td>{{ object.author.email }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- contact details end  -->
            </div>
        </div>
         

    </div>
  </article>
{% endblock content %}
